@import './vars';
@import './mixins/flex-row';
@import './mixins/flex-column';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

::after, ::before, h1, h2, h3, h4, h5, h6, p, li, img, ul{
    margin: 0;
    padding: 0;
}

.App{
    width: 100%;
    min-height: 100vh;
    background: $primary;

    &.fixed{
        position: fixed;
    }
}

.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media screen and (max-width: $break-point-lg) {
        &{
            padding: 0 $base*5;
        }
    }
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $secondary;
    border-color: $secondary transparent $secondary transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@import './components/overlay';
@import './components/header';
@import './components/main/main';
@import './components/cart/cart';