.cart{
    min-height: calc(100vh - 75px);
    width: 100%;
    padding: $base*10 0;

    @media screen and (max-width: $break-point-sm) {
        &{
            padding: $base*2 0;
        }
    }
}

@import './fake-header';
@import './cart-list';
@import './fake-footer';